html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#logo {
  font-size: 1.5rem;
  font-weight: 800;
}

#input-pesquisa {
  border-radius: 25px;
}

#btn-lupa {
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  color: white;
}

#btn-lupa:hover {
  background-color: #f0f0f0;
  color: gray;
}

#input-pesquisa {
  width: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

#input-pesquisa.show {
  width: 250px;
  opacity: 1;
}

#rodapé {
  background-color: #212529;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}

.polaroid {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.polaroid:hover {
  transform: translateY(-5px) rotate(-2deg) scale(1.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.fita {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(-3deg);
  width: 60px;
  height: 20px;
  background: rgba(243, 229, 171, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.col-6:nth-child(even) .fita {
  transform: translateX(-50%) rotate(3deg);
}

.nome-lenda {
  font-family: "Covered By Your Grace", cursive;
  font-size: 1.25rem;
  text-align: center;
}

@media (max-width: 767px) {

  .col-6 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .polaroid {
    min-height: 350px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}
main{
  flex: 1;
}

.d-flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
